@use 'tailwindcss';
@use './vars';

*,
*::after,
*::before,
html {
	box-sizing: border-box;
}
body,
#root {
	height: 100vh;
}
html {
	font-size: 16px;
}
body {
	font-family: var(--font-family-main);
	font-size: 16px;
	font-weight: 400;
	color: var(--font-main-color);
	background-color: var(--app-bg-color);
	line-height: 130%;
}
section {
	height: 100%;
}
h1 {
	font-size: clamp(1.5rem, 2.2vw, 2.5rem);
	font-weight: 700;
	line-height: 110%;
	letter-spacing: 0.01em;
}
h2 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 110%;
	letter-spacing: 0.015rem;

	@media (min-width: 48rem) {
		font-size: 2.5rem;
		letter-spacing: 0.025rem;
	}
}

a {
	text-decoration: none;
}
input {
	font-family: inherit;
	outline: none;
}
button {
	font-family: inherit;
	white-space: nowrap;
	cursor: pointer;
}
li {
	list-style: none;
}
img {
	width: 100%;
}
.container {
	padding: var(--container-min-padding);
}
