//app
:root {
	--app-bg-color: #232829;
	--container-min-padding: 0 1rem;
	--container-max-padding: 0 22rem;
}

//fonts
:root {
	--font-family-main: var(--font-montserrat), sans-serif;
	--font-family-accent: var(--font-raleway), sans-serif;
	--font-main-color: #ffffff;
}

//header
:root {
	--header-bg-color: #1d5b43;
	--header-timer-color: #ffbb00;
	--header-timer-danger-color: #fd5656;
}

//rate page
:root {
	--rate-font-subtle-color: #9b9b9b;
	--rate-font-muted-color: #cdcdcd;
	--rate-font-soft-color: #dcdcdc;
	--rate-accent-color: #fdb056;
	--rate-button-text-color: #191e1f;
	--rate-success-color: #81fe95;
	--rate-danger-color: #fd5656;
	--rate-attention-bg-color: #2d3233;
}
